*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    /* background-color: #001e4d; */
    background-image:linear-gradient(to right, blue, purple);
}
.app{
/* background-color: #fff; */
background-image: linear-gradient(to right, blue, pink);
width: 90%;
max-width: 600px;
margin:100px auto 0;
border-radius: 10px;
padding:30px;
}
.app h1{
   font-size: 25px;
   color:#001e4d ; 
   font-weight: 600;
   border-bottom:1px solid #333;
   padding-bottom: 30px;

}
.quiz{
    padding: 20px 0;

}
.quiz h2{
font-size: 18px;
color:#001e4d ;
font-weight: 600px;
}

.btn{
    background-color:#fff ;
    color:#222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius:4px ;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    display: inline-block;
    background-color: black;
    color:white;
    font-weight:500 ;
    width: 150px;
    border:0;
    padding:10px;
    margin:20px auto 0;
    border-radius: 4px;
    cursor:pointer;
  
    /* #001e4d */


}
.correct{
    background-color:#9aeabc ;

}
.incorrect{
    background: #ff9393
}